body {
  background-color: lightblue;
  opacity: 0.3;
}
h3{
color: blue;
}
.submission{
background-image: url("bground.png")
width: 400px;
length: 600px;
border: 5px solid #0d6efd;
text-align: center;
padding: 10px;
top: 10px;
text-decoration: none;
display: inline-block;
box-shadow: 10px 10px 5px lightblue;
border-radius: 25px;
border: 2px solid;
}
/* Set a style for all buttons */
button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover{
  opacity: 0.8;
}
h4{
color: #blue;
font: Bedrock;
}
.formLine right{
padding: 10px;
margin: 10px;
}
.content{
border: 5px solid #0d6efd;
}
